[2017-12-05 16:14] brendandburns opened #1 "Automatically include the elector side-car if `Lock` or `Election` is used..."
We should detect when code uses metaparticle locks or elections and automaticallly include the elector side car.

[2017-12-05 16:15] brendandburns opened #2 "Add the ability to include files into the Docker image"
Right now the packaging just packages code. We should extend the annotations to include arbitrary files via a `FileSet` annotation or somesuch.

[2017-12-05 16:16] brendandburns opened #3 "Add testing..."
The whole library is quite poorly tested, we need better unit testing.

[2017-12-05 16:16] brendandburns opened #4 "Add Python implementation."
It would be great to have a Python implementation of the metaparticle/package library.

[2017-12-05 16:16] brendandburns opened #5 "Add a golang implementation"
It would be great to have a `go` implementation of Metaparticle/Package

[2017-12-07 00:03] ryanjbaxter opened #6 "Cannot Run Containerized Spring Boot Application"
I tried using metaparticle to containerize a simple Spring Boot application but it is not running.  I am not sure if maybe I am not doing something correctly or if it is a mismatch between what metaparticle expects and the conventions of Spring Boot.  Here is my basic Boot app

[code]

I then run `./mvnw clean package` and it all works fine.  But then I run the app using the traditional `java -jar

[2017-12-07 04:09] ryanjbaxter commented on #6
I noticed that the tutorial example creates a jar with all the class files for all of the dependencies, why is that necessary?

[2017-12-07 05:10] christopherhein opened #8 "Add a Ruby Implementation"
It would be great to have a `ruby` implementation of Metaparticle/Package

[2017-12-07 06:59] christopherhein opened #9 "Support for macOS Development"
I think this belongs more in this repo - https://github.com/metaparticle-io/metaparticle-ast/issues/2 based on https://github.com/metaparticle-io/package/blob/master/javascript/metaparticle-package/index.js#L5-L18

[2017-12-07 07:19] chanezon commented on #9
You're right, the bug is in this repo. This PR helped me to make it work with Docker for Mac.

[2017-12-07 07:48] christopherhein opened #12 "Documentation or Mechanism for Updating a Running Service"
Trying to figure out the strategy for updating a service beyond, deleting or manually using `kubectl`.

If the `docker` tag updates when I use something like `npm start` shouldn't the deployment also get updated?

[2017-12-07 09:00] stealthybox opened #14 "Builds do not start in container when METAPARTICLE_IN_CONTAINER=false"
Setting `METAPARTICLE_IN_CONTAINER` to **false** in a container has no effect:
[code]

[2017-12-07 10:29] vbmade2000 commented on #5
Can I work on this ?

[2017-12-07 10:36] vbmade2000 commented on #4
I can start on this.

[2017-12-07 11:32] martinpeck opened #16 "Links to "Initial Tutorial" generate 404"
At the top of this page...

https://metaparticle.io/tutorials/javascript-sharding/

... is a sentence...

`Note, this is an advanced tutorial, please start with the initial tutorial`

...where `initial tutorial` is a link. The link 404s.

The generated link is...

`https://metaparticle.io/tutorials/javascript-sharding/tutorial.md`

... when it should be...

`https://metaparticle.io/tutorials/javas

[2017-12-07 11:48] christopherhein commented on #16
https://github.com/metaparticle-io/package/pull/7 solves it :)

[2017-12-07 11:49] martinpeck commented on #16
Aha! Perfect. Sorry @christopherhein ... I looked through the issues to see if it was already mentioned, but didn't check the PRs.

[2017-12-07 11:51] martinpeck commented on #16
So, does this fix the links within the tutorials? If so...how. I'm mostly just curious as it wasn't clear (to me) how the site is being generated from the .md file

[2017-12-07 15:44] #14 closed

[2017-12-07 16:18] xfernando commented on #5
I got a preliminary golang implementation working. I based it on the java implementation and implemented the docker, azure and metaparticle backends, but I've only tested the docker backend so far.

Since go does not have annotations I used structs that are passed to the Containerize() wrapper to implement the equivalent behavior. Like below:

[code]

I'm putting some finishing touches before I su

[2017-12-07 16:58] vbmade2000 commented on #5
Cool @xfernando.

[2017-12-07 17:19] xfernando commented on #5
PR #20 submitted.

[2017-12-07 17:36] willnewby commented on #4
I'm starting work on this as well.

[2017-12-07 23:35] yolo3301 opened #23 "ACI executor should use Azure SDK instead of azure cli"
Should the ACI executors use Azure SDK instead of azure cli?

[2017-12-07 23:35] vllry opened #24 "Add tests to Golang implementation"
Waiting on merge of PR #20 / completion of issue #5

[2017-12-07 23:38] vllry commented on #3
Added #24 (Golang tests), I think issues to track each implementation would be easiest to follow.

[2017-12-07 23:56] vllry opened #25 "Centralize applicable logic in k8s rather than in every language library"
Maintaining many libraries is hell on wheels, especially if they are feature-rich and/or rapidly changing. It would be ideal to only maintain one copy of language-agnostic logic, without forcing the developer to have additional toolchains.

Shared logic can have a single implementation, such as an API server (distinct or extended from k8s) for Metaparticle.

For example, a given library could crea

[2017-12-07 23:58] vllry commented on #25
I think a precursor to a step like this would be better speccing out the desired (current) features across all libraries, and very near term additions.

[2017-12-08 03:17] vbmade2000 commented on #4
Sure @willnewby

[2017-12-08 13:09] brendandburns commented on #25
The mp-compiler project (https://github.com/metaparticle-io/metaparticle-io) tries to do a bunch of this, but there's definitely more logic that could be moved into that compiler.

For example the image build/push logic.

Would love contributions there.

[2017-12-08 13:10] brendandburns commented on #9
This is now fixed (I think)

[2017-12-08 13:10] #9 closed

[2017-12-08 13:12] brendandburns commented on #6
Right now the Java app assumes everything is in one jar.

So you need to build in all of your dependencies.

We could also change the app so that it could allow alternate FROM images that had the spring libraries already in there...

[2017-12-08 13:12] brendandburns commented on #23
Yes, I was being lazy :)

[2017-12-08 14:54] timfpark opened #27 "Support for applications without exposed ports or k8s services"
It looks like when you use the 'metaparticle' runner that it assumes a service port will be provided when creating the pods:

Successfully tagged timfpark/metaparticle-example:latest
2017/12/08 15:33:11 Service "metaparticle-example" is invalid: spec.ports: Required value
==> Detected container metaparticle-example-3000602432-cqpx8:metaparticle-example-0

and also that a service exists when you ex

[2017-12-08 16:57] willnewby commented on #25
@brendandburns that link 404s for me.

[2017-12-08 16:59] ryanjbaxter commented on #6
@brendandburns when you say "java app" are you referring to the metaparticle code?  The metaparticle jars should be on the classpath, why do the class files need to be packaged in the jar itself?

[2017-12-08 17:48] willnewby opened #28 "Create Python Package"
As it stands, we have nice toy code for metaparticle that runs. Next step is to begin making that useful by building a python package that can be installed, imported and used. I'm currently working on that using these docs: https://packaging.python.org/tutorials/distributing-packages/

[2017-12-08 18:41] vllry commented on #25
@willnewby I think it's https://github.com/metaparticle-io/metaparticle-ast

[2017-12-08 18:41] vbmade2000 commented on #28
I think We should add Unit Tests too.

[2017-12-08 18:44] vbmade2000 commented on #3
Working on Python UTs.

[2017-12-08 20:33] willnewby commented on #25
Oh hey. Thanks @vllry

[2017-12-08 21:22] yolo3301 commented on #23
@brendandburns I can work on that since I've been working on sdk :)

[2017-12-08 22:22] yolo3301 opened #29 "dotnet AciExecutor needs enforce image publish before executing"
For dotnet, image publish is [not enforced](https://github.com/metaparticle-io/package/blob/master/dotnet/Metaparticle.Package/Metaparticle.cs#L114-L119). AciExecutor won't work if the image is not published.

[2017-12-08 23:20] DazWilkin opened #30 "Support Google Container Registry"
[Am a Googler ;-)] [Google Container Registry](https://cloud.google.com/container-registry/) (GCR) provides Google Cloud Platform (GCP)  users with a convenient private Docker registry. The GCP command-line aka `gcloud` provides convenience wrappers for docker push|pull so it's trivial to extend metaparticle to support GCR with a slightly revised 'push' function.

Here for JavaScript but other lan

[2017-12-09 02:15] vbmade2000 opened #32 "Fix pycodestyle issue in python example"

[2017-12-09 03:24] DazWilkin opened #34 "Unable to access "Sharding" example when deployed with the runner"
Using JavaScript|Node.js

The "Replicated" example works for me both locally and deployed to a GKE cluster.

The "Sharding" example does not (appear to) work correctly when deployed to a GKE cluster.

I can access it locally running as a single Docker container.

It appears to `npm start` correctly:

[code]
From within the cluster, I can access the StatefulSet pods:

[code]
But there's no LoadBala

[2017-12-10 05:42] #32 closed

[2017-12-10 05:46] #5 closed

[2017-12-10 05:51] brendandburns commented on #34
@DazWilkin I think that this is an instance of:

https://github.com/metaparticle-io/metaparticle-ast/issues/1

To try it out, try:

[code]

That should give you a web session inside of your cluster, then you can:

[code]

And that should hit the sharding service.

Basically the bug is that the metaparticle compiler doesn't mark the load balancer as external to create an external load balancer.

I

[2017-12-10 05:51] brendandburns commented on #30
Would be happy to see a PR for this :)

[2017-12-10 05:52] brendandburns commented on #30
(would be interested to see how Google Container Builder could fit in here too)

[2017-12-10 05:53] brendandburns commented on #28
Awesome, many thanks to both of you!  Perhaps we should file a separate issue for the unit tests so that we can assign it to @vbmade2000 ?

[2017-12-10 05:54] brendandburns commented on #27
PR would be awesome!  The code is in the metaparticle compiler, approximately here:

https://github.com/metaparticle-io/metaparticle-ast/blob/master/compiler/kubernetes-compiler.go#L272

[2017-12-10 05:55] brendandburns commented on #12
Yes, this is a very interesting question. I'd love to see a proposal for how we might do this in the form of quick mark-down document...

[2017-12-10 05:56] brendandburns commented on #6
Yes the metaparticle code itself.

The thing is that once the application is packaged as a container, the local classpath is gone, the only classes are the classes in the image.

It would be interesting to introspect the `${CLASSPATH}` in the Java code and move any and all of the classses in the `$CLASSPATH` into the image somewhere...

Probably worth doing, but in the meantime if you want to get

[2017-12-11 15:45] willnewby commented on #28
That sounds like a great idea.

---------------
Will Newby
Resident Wizard
Phone: 612.208.3806
Email: willnewby@gmail.com

On Sat, Dec 9, 2017 at 11:53 PM, Brendan Burns <notifications@github.com>
wrote:

[2017-12-11 15:50] DazWilkin commented on #34
Thanks @brendanburns .. I think the issues aren't exactly the same.

I am able to access the StatefulSet pods from the cluster:

[code]

And `sharing-sharder` exists but it appears to error with:

[code]

This is how I identified the StatefulSet ordinals and tried accessing them directly. It's curious that this configuration to the StatefulSet pods is correct and works but the `brendanburns/sharde

[2017-12-11 16:26] willnewby opened #35 "Python Unit Testing"
Write unit tests for the python codebase.

[2017-12-11 16:27] willnewby commented on #35
For @vbmade2000 in reference to #28

[2017-12-11 17:09] vbmade2000 commented on #35
Cool. Thanks.

[2017-12-11 17:19] kondapally1989 opened #36 "getting null pointer exception when executing 2nd example in Java tutorial"
following is the exception.
`Exception in thread "main" java.lang.NullPointerException
	at io.metaparticle.Metaparticle.inDockerContainer(Metaparticle.java:19)
	at io.metaparticle.Metaparticle.Containerize(Metaparticle.java:78)
	at io.metaparticle.tutorial.Main2.main(Main2.java:24)`

It is because of METAPARTICLE_IN_CONTAINER is not set as env variable.
once i set the env variable to false, it is

[2017-12-11 17:35] stealthybox commented on #30
@brendanburns just off the top of my head,

The user could set up the metaparticle binary to run in GCB via CI with the cloud-builders/docker image, but this sounds like a strange workflow.

We could also use `gcloud` locally to send the build context to GCB via a build request.
This seems more in line with how metaparticle currently works, but the local CLI for container builder is seeing active

[2017-12-11 17:41] brendandburns commented on #34
That error isn't really an error, that's just a glog vs golang log package issue...

Can you dump the sharding-sharder Service and Deployment YAMLs and put them in this issue?

Thanks
--brendan

________________________________________
From: Daz Wilkin <notifications@github.com>
Sent: Monday, December 11, 2017 7:50 AM
To: metaparticle-io/package
Cc: Brendan Burns; Comment
Subject: Re: [metaparticl

[2017-12-11 18:04] DazWilkin commented on #34
Sure. Thanks for continued support!

`kubectl get service/sharding-sharder --output=yaml`
[code]
and:
`kubectl get deployment/sharding-sharder --output=yaml`
[code]

[2017-12-12 02:53] wagoodman opened #39 "Container detection requires privileged access"
Currently you need to run the given `example.py` as root, or else you'll see a permission error:

[code]

[2017-12-12 15:42] ryanjbaxter commented on #6
So could we create an image that contains the metaparticle code within it so its not necessary for each app to do this?

[2017-12-13 06:14] #23 closed

[2017-12-14 19:48] code4clouds opened #45 "F_Provide volume mounts for my code."
As a cloud-developer,
I would like mount a volume into my container,
So I can use it with my uservice.

Ex.  I would like to have a /data or /tmp directory on my container so my code can use to store some data.

[2017-12-15 04:31] #8 closed

[2017-12-17 14:13] willpenington commented on #2
I'd be interested in giving this a go, starting with a Java implentation then porting to the other languages

My initial design would be to add a new tag called something like `@PackageFile` and a parameter on the package tag that takes an array of them giving something like
[code]

[2017-12-17 17:35] willpenington commented on #6
Spring Boot bundles the libraries by default, but the reason it won't start is that the plugin it uses to create a fat jar injects a wrapper that calls the real main method and moves all of the non loader classes to `BOOT-INF/classes` internally. I tried with an empty new Boot project and got the same error. It does add some metadata to MANIFEST.mf that could be used for special handling, but that

[2017-12-18 16:21] ryandotclair opened #48 "Playing Devil's Advocate: Pennies vs. Quarters"
Let me preface all of this with: **I like the idea behind this project**. Any time I like something, I try to poke holes into it because I believe knowing the weaknesses sooner, rather than later, will only make it stronger.

With that said, I wrote [an article on metaparticle](https://medium.com/@ryandotclair/an-interrogation-of-metaparticle-and-abstraction-layers-44ba2fe07b62), playing the devil

[2017-12-18 19:25] brendandburns commented on #36
Closed by #47

[2017-12-18 19:25] #36 closed

[2017-12-18 19:25] brendandburns commented on #45
Sounds great, this would be an extension to the RuntimeConfig, please feel free to prototype and send PRs...

[2017-12-18 19:26] brendandburns commented on #28
This is now done:
https://pypi.python.org/pypi/metaparticle_pkg

[2017-12-18 19:26] #28 closed

[2017-12-18 23:45] brendandburns commented on #48
Thanks for the feedback, both here and in the article.

Here are my thoughts:

1) "Changes to the underlying infrastructure,...."
Metaparticle is aiming to encapsulate/abstract at the level of a single microservice.  I don't want to encapsulate larger than that. Given Kubernetes as an abstraction layer, changes to the Kubernetes surface and below, really _shouldn't_ impact the application.  Kubern

[2017-12-19 05:31] spencergibb commented on #48
I'd like to chime in with a question, specifically coming from the java world. I'm a bit confused about the packaging. In a CI/CD pipeline, an executable jar would be created. In metaparticle, that jar would have to be executed to create the right output for k8s, correct? Wouldn't that be better suited to a maven or gradle plugin? I may be missing something important though.

[2017-12-19 05:38] brendandburns opened #49 "How is metaparticle expected to interact with CI/CD?"
An important (and open) question.

Proposals wanted!

[2017-12-19 05:38] brendandburns commented on #48
I don't have any problem with the notion that in a CI/CD pipeline, there would be a plugin which read the annotations out of the .jar file (or somesuch) and used a Gradle/Maven plugin to do the same things that executing the binary does.

My primary goal is to get the configuration information into the code, alongside the application itself.

I like the idea that "just running it" does the right t

[2017-12-19 06:43] spencergibb commented on #48
Thanks for the prompt, well thought-out answer.

[2017-12-19 11:44] radu-matei opened #50 "Local builds, prerequisites and"
At the moment, all builder implementation require Docker client locally.

Has it been discussed the possibility of having something similar to Draft that builds and pushes your image without you having anything locally?

Thanks!

[2017-12-19 15:03] brendandburns commented on #50
Yes, I would love to see support for this!

The 'builder' interface is factored out in each runtime to enable this kind of extensibility.

PRs welcome :)

[2017-12-19 16:45] radu-matei commented on #50
Ok, so in this case:

- there will be a pod in the Kubernetes cluster that will create and push the image
- based on that image, the local `mp-compiler` will push the deployment on the cluster.

Is this brief overview correct? Do you have anything else in mind?
(Maybe the `mp-compiler` also as a service in the cluster?)

Now, do we also want to enable support for custom a Dockerfile? (Simply as an

[2017-12-19 17:15] brendandburns commented on #50
Yeah, sounds about right. mp-compiler is actually built as a RESTful server too, so it can definitely run in a cluster.

--brendan

________________________________________
From: Radu Matei <notifications@github.com>
Sent: Tuesday, December 19, 2017 8:45 AM
To: metaparticle-io/package
Cc: Brendan Burns; Comment
Subject: Re: [metaparticle-io/package] Local builds, prerequisites (#50)

Ok, so in thi

[2017-12-20 00:13] radu-matei opened #53 "Ability to customize Dockerfile"
Briefly mentioned this in #50, but I think it deserves its own issue.

Right now as I looked around the packaging, when writing an application you cannot customize the Dockerfile in any way - would it make sense to allow it as a parameter?

I am not saying it should be default, but once the needs of the service overcome what is included in the basic Dockerfile for each runtime, then it might be us

[2017-12-20 04:37] ryandotclair commented on #48
@brendandburns thanks for the reply. Let's see here...

Understood on the scope. I think my root of worry here is any change that needs to be made outside of MP that would cause a breakage (which very well might be unfounded--I know enough to be dangerous of MP, so not sure if this problem even exists). I suspect if there is, it would be in the LB/Service touchpoints... but I haven't looked into t

[2017-12-20 08:33] stealthybox commented on #49
Maybe executing the binary with a detach flag could be good?
Return code would naturally reflect whether the application is running properly in the provider.

The provider (k8s/swarm/aci) could decide whether cleanup is necessary for resources in the failure case, or this could be exposed as a flag.

Just brainstorming.

[2017-12-20 08:43] stealthybox commented on #48
This doesn't seem very different to me from the tools we use to expose applications running on a single server today; We can manipulate ports, interfaces, routing, and iptables.

Some environments are setup to be very automatic and permissive -- others require intentional intervention. Either way, all programming languages have core libraries that can be used to configure the use of these I/O reso

[2017-12-20 17:45] brendandburns commented on #49
Yeah, I think that's a great idea!

I might use an environment variable instead of a flag, since flags would require munging the command line.  Want to send a PR?

Thanks!

[2017-12-20 19:54] stealthybox commented on #53
related: #51
java/js/python/dotnet now support copying a dockerfile from somewhere on the file system.

[2017-12-20 19:54] stealthybox commented on #53
/cc @brendanburns

[2017-12-20 20:03] stealthybox commented on #50
Related #49

[2017-12-20 20:12] stealthybox commented on #16
#7 looks unrelated to this issue.

[2017-12-20 20:14] stealthybox commented on #16
@martinpeck the site is generated with Hugo from this repo:
https://github.com/metaparticle-io/metaparticle-www

I believe the files you're referencing are in `content/tutorials`.

[2017-12-21 05:38] brendandburns commented on #53
yeah #51 should address this.

re #2 thats to pull in other files (eg static html, etc)

[2017-12-21 05:38] #29 closed

[2017-12-21 06:30] #16 closed

[2017-12-21 18:04] brendandburns commented on #53
Closing this since #51 covers this.

[2017-12-21 18:04] #53 closed

[2017-12-21 18:05] brendandburns opened #54 "Add a 'Job' and 'PeriodicJob' annotation."
To handle batch workloads.

[2017-12-21 19:06] #27 closed

[2017-12-21 19:25] brendandburns commented on #2
@willpenington That design looks great to me.

Thanks!

[2017-12-31 20:03] xfernando opened #55 "[Go] Use docker client API instead of exec.Command"
Change docker's builder and executor to use docker's go client API.

[2018-01-03 17:30] vbmade2000 commented on #35
Addressed in #57. We can close this.

[2018-01-03 17:52] #35 closed

[2018-01-03 18:50] pfongkye commented on #3
hi @brendandburns i would like to write tests for the javascript part using jest if that's ok.

[2018-01-03 19:24] brendandburns commented on #3
@pfongkye absolutely, would love some mocha tests there.

[2018-01-03 19:25] #55 closed

[2018-01-05 20:35] frankreno commented on #6
Curious if anyone has found a good workaround for this.  I am definitely interested in giving Metaparticle a go, but this is a blocker.

[2018-01-05 21:55] brendandburns commented on #6
I'll try to repro and dig into this a little deeper...

One thing to try would be to switch the bare bones JDK FROM image to a Spring enabled one.

--brendan

________________________________________
From: Frank Reno <notifications@github.com>
Sent: Friday, January 5, 2018 12:35 PM
To: metaparticle-io/package
Cc: Brendan Burns; Mention
Subject: Re: [metaparticle-io/package] Cannot Run Containerize

[2018-01-09 07:49] yuva29 opened #62 "TOT fails to build"
`go build` fails with the following:
[code]

[2018-01-11 03:52] brendandburns commented on #62
Thanks for the report, I will take a look...

--brendan

[2018-01-11 06:14] brendandburns commented on #62
I couldn't reproduce this. Here's what I did:

[code]

Everything worked fine. I'm using go version `1.9.2` if that matters.

[2018-01-11 17:29] yuva29 commented on #62
@brendandburns You handle the vendor management yourselves? Possibly it has something to do with it.

[2018-01-11 17:34] brendandburns commented on #62
we use the 'dep' tool from the golang folks to handle vendor management.

--brendan

________________________________________
From: Yuva Shankar <notifications@github.com>
Sent: Thursday, January 11, 2018 9:29 AM
To: metaparticle-io/package
Cc: Brendan Burns; Mention
Subject: Re: [metaparticle-io/package] TOT fails to build (#62)

@brendandburns<https://na01.safelinks.protection.outlook.com/?url=h

[2018-01-11 21:37] ahaeber commented on #49
Looking at the Java implementation, it seems like Metaparticle is bootstrapped by invoking the Containerize method. And that method checks whether it should execute the method itself, or build & deploy. I would prefer to not having to invoke that method in my code. It makes the code harder to understand and debug.

Why not make an annotation processor for this instead? It mainly needs to look at t

[2018-01-11 21:56] brendandburns commented on #49
Do you have pointers for how to do this? I looked into it when I started to design, and it honestly looked super complicated to implement and I didn't have the cycles to figure out how to do it.

If you have the knowledge necessary to do it, or have pointers to a good tutorial/library that I could lean on, I definitely agree that it is a better design.

Thanks!

--brendan

________________________

[2018-01-11 22:32] ahaeber commented on #49
Glad you like the approach. Fortunately there are some helpful tools to make it easier, like Google's auto-service. See http://www.baeldung.com/java-annotation-processing-builder for a tutorial that also links to docs for auto-service. I can try to make a Metaparticle annotation processor too, but not sure how much time I'll have available for that right now.

[2018-01-11 22:58] yuva29 commented on #62
That worked. Check if this makes sense https://github.com/metaparticle-io/package/pull/66. Thanks

[2018-01-12 00:45] #62 closed

[2018-01-12 00:46] brendandburns commented on #54
Job was added with #63

[2018-01-12 09:33] ahaeber commented on #49
@brendandburns started on the annotation processor in the commit above. Got the annotation processor plumbing added including a unit test, but does not work yet.

[2018-01-13 23:47] srini85 commented on #49
@stealthybox, @brendandburns

Return code would naturally reflect whether the application is running properly in the provider.

Would it need to run in detached more or not run at all? CI pipeline may just finish after building and publishing the image right?

[2018-01-14 05:51] pemmasanikrishna opened #70 "JobSpecification Model is Missing"
Job specification model is missing in java package. Is this yet to be coded?? Its causing compilation issues.

[2018-01-14 06:49] srini85 commented on #49
@brendandburns - had an attempt at using environment variable for the dotnet version.

https://github.com/metaparticle-io/package/pull/71

[2018-01-15 08:17] ahaeber commented on #49
@brendandburns After trying out a few options with the Java Annotation Processor I found that it is the wrong place to containerize applications. We're inspecting classes (bits and pieces of the application) so we don't have the full picture here. Maybe package-annotations could be better, like:
package-info.java:
[code]
However, we don't know anything about its dependencies here. And I think it w

[2018-01-15 11:54] xfernando opened #72 "Add support to docker registry authentication using docker API"
I saw that the use of docker's client API was reverted for pushing the images because of lack of authentication support.

Reading docker's client API I found that [auth.go](https://github.com/moby/moby/blob/947eb283dc86b67ea487ed3b7c02ede7b1fbbafd/api/types/auth.go#L4-L22) has the type AuthConfig which is used to set authentication options on API requests.

So I wanted to get an opinion before I s

[2018-01-15 12:06] srini85 commented on #72
@xfernando - Yeah I think environment variable sounds right from my POV. I did a similar thing with the image name for dotnet which @brendandburns burns merged

Except my Env Variable prefix was just MP not METAPARTICLE :)
#71

[2018-01-15 12:12] xfernando commented on #72
@srini85 Nice, but I think we should probably get a consensus on the environment variables names so they don't differ between languages! :)

[2018-01-15 23:30] srini85 opened #73 "Service Dependencies"
Typically, when we develop a project, we reference libraries and other projects into our source code and then compile them. In dotnet land, the references are located in the csproj file and we pull them from nuget sources.

Now in the distributed computing world, we ideally have loosely coupled services without direct dependencies to other services. However there could be those occasions where one

[2018-01-19 03:44] dekkagaijin commented on #72
It's also possible to perform the same credential resolution that the `docker` client does, if you desire a more seamless experience. Here's a concise breakdown of precedence for credential sources in python:
https://github.com/google/containerregistry/blob/master/client/docker_creds_.py#L222

Note that we only support Basic (username, password) client auth in this lib, since Bearer (registrytoken

[2018-01-19 05:48] brendandburns commented on #73
Right now, I'm targetting Metaparticle at individual microservices.  I don't really want to try to handle too much in the way of dependencies beyond string names.

But some sort of integration of the Open Service Broker might be interesting...

[2018-01-21 05:03] brendandburns commented on #70
This should now be fixed.

Apologies.

[2018-01-21 05:03] #70 closed

[2018-01-21 06:33] brendandburns commented on #34
Ok, I think I ran this down, the fix is here:

https://github.com/metaparticle-io/metaparticle-ast/pull/6

I'll get new binaries up soon.

[2018-01-21 17:34] wagoodman commented on #39
I seem to have been the only one with this issue, clearly it was 2am user error :)

[2018-01-21 17:34] #39 closed

[2018-01-21 18:24] DazWilkin commented on #34
Outstanding. Thank you. Looking forward to trying it out.

[2018-01-22 03:28] srini85 opened #75 "Running tests for the metaparticle"
Thought of opening a new thread rather than expanding on #49

Assuming that the metaparticle is to have a set of tests associated with it, how should they be included? Should they be a seperate project that resides in a particular folder that gets run as part of the build command? Or should they be included along side the code?

Would be interesting to hear your thoughts @brendanburns and others

[2018-01-22 06:09] brendandburns commented on #34
Ok, should be fixed.  You will need to download/install a new version of the `mp-compiler` binary from:

https://github.com/metaparticle-io/metaparticle-ast/releases

[2018-01-22 06:12] brendandburns commented on #75
Good question...

I assume that the desired flow would be:

* Build
* Test
* Deploy

??

And if 'Test' fails, then 'Deploy' would not happen...

The easiest thing (of course) would be to simply shell out to a script, but that also kind of feels like cheating at some level...

Perhaps the executor or builder could have a `Test()` function, but in that case, there is a lot of per-language implementa

[2018-01-22 09:10] srini85 commented on #75
@brendanburns  - yeah I think there has to be some sort of interface that defines that a test runner to run prior to the Deploy in the sequence you mentioned.

You are right about per-language implementations so perhaps there needs to be a defined contract when developing metaparticle package for a particular language?

I have had an initial stab at how it could be done in dotnet
https://github.co

[2018-01-22 18:48] cforce opened #77 "dead link https://github.com/metaparticle-io/package/blob/master/distributed-patterns.md"

[2018-01-23 10:35] srini85 commented on #77
Looks like the file never existed in the repo :(

[2018-01-24 00:45] jessfraz opened #80 "[proposal] go: generate at compile time seccomp filters for go applications"
(preface: totally understand if this is out of scope but could be a cool feature)

## Invisible Sandboxing of Applications

One of the fun and innovative things that could be done since metaparticle is in charge of handling the users code and running the specific function passed, is an automatic generation of a seccomp profile for their application/function being run.

### Background

Seccomp is "

[2018-01-24 02:46] DazWilkin commented on #34
Works! Thanks.

[code]

and

[code]

[2018-01-24 03:35] DazWilkin opened #82 "Python sample does not work as documented"
I followed the instructions (honest):

[code]

I tried the Python sample as-is:

[code]

This returns:
[code]

I then tried:

[code]

This returns:
[code]

I briefly explored the package but it's not immediately obvious to me what needs to be done :-(

[2018-01-24 04:46] brendandburns commented on #80
I like this idea! Do you have a pointer for how we can interogate a golang program to find it's syscalls?

[2018-01-24 06:09] jessfraz commented on #80
So before when I did it as a POC I was hijacking at compile time (in the go compiler) the syscalls that were being assembled via: https://github.com/golang/go/blob/master/src/syscall/asm_linux_amd64.s

I think there are two ways to _go_ (pun) about this here though since we can't really hijack at compile time, unless we run a fork of go in the container that builds, but ew gross.

Both options cou

[2018-01-24 10:13] tomkukral commented on #82
Yes, you need to change at least `packager_repo` and `package_name` in `examples/simple/example.py`.

Should we document it?

[2018-01-24 15:56] DazWilkin commented on #82
Thank you.

You solved my problem but that wasn't my question :-)

I was referring to this documentation which contradicts the `examples/simple/example.py`

https://metaparticle.io/tutorials/python/

[code]

So the documentation needs to be corrected to reflect the correct module name etc.

[2018-01-24 17:07] DazWilkin commented on #82
OK... Making progress...

Mashed-up the sample from the metaparticle.io Python page with this sample:

[code]

Runs under Docker locally:

[code]

I reviewed the code to work out -- I think !? -- the config for Kubernetes:

[code]
and this yields

[code]
and:
[code]
The service is a ClusterIP and would be better (can I configure?) as a LoadBalancer, so:
[code]

[2018-01-24 18:42] nwmcsween commented on #80
I was working on something like this but was hoping to do it for any binary (shared or static) sort of a inline 'containerization'. For seccomp In the shared case we would have to disas the binary and scan for syscalls as well as chasing plt, dlopen, dlsym etc entries and doing the same for each function, the static case is still a pain as we have to still chase dlopen, dlsym etc calls as glibc us

[2018-01-24 19:04] jessfraz commented on #80
I think you are over thinking this a bit.

I have done what you are trying to do before but this specific use case is unique in that you do not need the filter to be run with the binary, you lean on the implementation in the orchestrator to do that.

Plus metaparticle is more for running applications and the possibility of someone using a cgo and doing a dlopen is really quite low. That’s why this

[2018-01-25 21:22] cdhunt opened #85 "Request support for more source images via Config"
My motivation is to include support for Windows containers. I _think_ all that's required is making the following values configurable. At least for dotnet.
https://github.com/metaparticle-io/package/blob/89cc3178bac32a56ca4868a8ccde3605e12637ac/dotnet/Metaparticle.Package/Metaparticle.cs#L135-L136

This was mentioned in #53 and #51. I don't think #51 addresses this sufficiently. If I have to maint

[2018-01-26 00:00] SvenDowideit commented on #80
Best thing for me, is that it means I can attest (and sign) that my app only does / requires a small set of abilities - and any time code is merged that changes this, we can discuss if its necessary...

yes! make us more accountable :)

[2018-01-27 06:25] brendandburns commented on #82
oops, didn't mean to close this...

[2018-01-27 06:31] brendandburns commented on #77
I swear that's in some repo somewhere, I must not have pushed it, I'll track it down.

Apologies!

[2018-01-27 06:32] brendandburns commented on #85
Yeah, I can definitely see introducing the ability to customize the 'FROM' makes a tone of sense.

Want to do the PR?

[2018-01-29 15:17] radu-matei opened #90 "Golang Docker image size"

[2018-01-29 18:31] srini85 commented on #90
Maybe due to initialising the go dep package?
Dockerfile has...

RUN go get -u github.com/golang/dep/cmd/dep

RUN dep init

If that is the case, maybe there could be a base metaparticle aci container base image to speed things up?

[2018-01-29 19:11] radu-matei commented on #90
Well, it shouldn't really be like this, you shouldn't have separate images based on the runtime - the resulting Docker image is large regardless of the runtime.

(And if you haven't already pushed the base image to the registry it won't matter - and it won't matter for pulls).

Does anybody have some pointers to what `go-wrapper` does? It feels like a multi-stage building should improve a bit (but

[2018-01-29 20:46] DazWilkin opened #92 "Python sample does not (appear to) support "public: True""
Context: https://github.com/metaparticle-io/package/issues/82

It's unclear to me where I should specific `'public': True' in the Python library in order to get a network LB programmed.

Using the Python sample summarized in that issue, succeeds with a K8s Deployment but the Service created exposes a ClusterIP. Per @brendanburns suggestion, there appears no support for `"public: True"` in the Pyth

[2018-01-30 16:08] DazWilkin opened #93 "Suggestion: Using Google Container Registry"
If you're using Google Cloud Platform (GCP) and/or Kubernetes Engine and/or prefer to use [Google Container Registry](cloud.google.com/container-registry) (GCR), absent a specific GCR builder, it is possible to authenticate a docker client|CLI against GCR and then use GCR  (gcr.io) transparently instead of docker.io

For example, my Docker Hub is `docker.io/dazwilkin` and customarily:

`echo $PASS

[2018-01-31 19:41] radu-matei commented on #90
Initial tackle of this in 16f7a303efe76edc2ef3f8e61a8eefae81518f84
Resulting Docker image now 46 MB, still to go on improvements :)

<img width="1323" alt="screen shot 2018-01-31 at 21 40 55" src="https://user-images.githubusercontent.com/13103165/35643608-83f91238-06cf-11e8-9113-daac65faea80.png">

[2018-02-06 14:32] xfernando commented on #80
Hey @jessfraz, I saw your keynote at FOSDEM and remembered seeing this issue here, so I did a quick hack that generates a seccomp profile for go binaries (same limitations you mentioned on your talk apply).

It's at [github.com/xfernando/go2seccomp](http://github.com/xfernando/go2seccomp). :)

[2018-02-07 17:05] jessfraz commented on #80
This is really dope, thanks @xfernando

[2018-02-11 09:58] Yshayy opened #95 "Add support for HPA?"
Metaparticle can provide a good story for making "self-deployable" services and with replica count, we can easily make provide higher availability/performance, yet for many scenarios, specifying replica count explicitly is not enough since scale can change and it can lead to frequent code-changes/redeployment. Providing an auto-autoscale policy that the orchestrator respects can solve this problem

[2018-02-13 06:30] #72 closed

[2018-02-13 06:31] brendandburns commented on #92
I believe that it is called `publicAddress`:

https://github.com/metaparticle-io/package/blob/master/python/metaparticle_pkg/option.py#L24

Which is perhaps the wrong name for it, since it is inconsistent...

[2018-02-13 06:33] brendandburns commented on #82
I was wrong, I think it was meant to be `'publicAddress': True`

But as I mentioned in the bug, I should probably switch that to `public`

[2018-02-13 06:34] brendandburns commented on #95
Yes, I think it would be great to do this.  The place to start is in the "compiler"

https://github.com/metaparticle-io/metaparticle-ast

And then plumb it into the language implementations.

[2018-02-14 21:40] xfernando commented on #93
@DazWilkin I just added a pull request documenting how to access GCR and ACR with metaparticle's go package. :)

[2018-02-15 01:02] DazWilkin commented on #93
@xfernando Nice!! 👍

[2018-02-15 11:53] Yshayy commented on #95
Makes sense, I'll dig more into that repo.
Is there any spec for autoscaling?
I thought of something like this:
[code]
And add it as a property to serviceSpecification.

[2018-02-17 04:58] #93 closed

[2018-02-20 11:21] Edznux commented on #80
I'm very interested in helping on this, in particular on the "option 2" that @jessfraz pointed out!
Can I get in touch? You mentioned slack?

I have done a very small POC with `angr` to do binary analysis but there is probably a better way to do it... It's painfully slow due to path explosion and not that much accurate at the moment...

[2018-02-20 12:32] stealthybox commented on #80
Looks like @xfernando's code implements Option 2.
One other interesting note from @jessfraz's is that since this uses `go tool`, you need access to the source code. This works fine for metaparticle's use-case.

Generating the same filters with strace would allow you to diff between the pre-analyzed and runtime versions -- could be useful for the edge-cases.

[2018-02-20 14:40] Edznux commented on #80
@xfernando's code works for Go binaries.
This issue was specificaly written for Go support but a more generic solution may be interresting? (if it's even possible)

Maybe this is out of scope here.

[2018-02-21 16:24] xfernando commented on #80
A generic solution that can analyze any ELF binary can certainly be constructed. I considered trying to do this but since I've never read about the ELF format before. After doing some research, it seemed like it would take a lot longer to get something ready so I went for the easier way and doing it only for go programs.

It's harder because you'd have to trace where the syscall trap ID is coming

[2018-02-22 22:39] DazWilkin commented on #82
Apologies for my delay in replying.

That did not work. `'publicAddress': True` is accepted but I continue to receive a Cluster IP:

[code]

I did not upgrade my code.

[2018-02-23 00:15] brendandburns commented on #82
I'll try to repro this tonight...

________________________________________
From: Daz Wilkin <notifications@github.com>
Sent: Thursday, February 22, 2018 2:39 PM
To: metaparticle-io/package
Cc: Brendan Burns; State change
Subject: Re: [metaparticle-io/package] Python sample does not work as documented (#82)

Apologies for my delay in replying.

That did not work. 'publicAddress': True is accepted

[2018-02-23 00:46] DazWilkin commented on #82
This is mostly my personal curiosity and no customer is being harmed by this not working as intended. Very much value your help @brendanburns and I'm inspired by metaparticle **but**, unless others are pestering, please don't prioritize this.

I'm headed out on vacation tomorrow and will be non-responsive for a week.

I did not update metaparticle nor refresh the repo.

I added the property as you

[2018-02-25 03:23] #92 closed

[2018-02-25 03:36] brendandburns commented on #92
This is now fixed, the correct syntax is:

[code]

[2018-02-25 03:39] brendandburns commented on #82
Ok, I fixed this in #98

The syntax is now:
[code]

[2018-02-25 03:39] #82 closed

[2018-02-25 03:40] brendandburns commented on #73
closing this since I think the discussion on this issue is completed.  Please re-open if there is more to discuss.

Thanks!

[2018-02-25 03:40] #73 closed

[2018-02-25 03:40] brendandburns commented on #34
Closing since this was fixed.

[2018-02-25 03:40] #34 closed

[2018-02-26 13:09] gabeduke opened #99 "Python example errors"
I keep running into the following error trying to get the python example to run. Any guidance would be appreciated!

[code]

[2018-02-27 16:50] cgmcintyr opened #100 "[bug] Python setup.py not loading version.json, tox broken"
### Bug:

When checked out on `public_python` (https://github.com/metaparticle-io/package/commit/f550ca1c4b75f34915a394b8976562625c94baa6 at time of writing) or `master` (https://github.com/metaparticle-io/package/commit/0bf29e17b9ce6d472f1fb06ffb8271b557569258 at time of writing) both `tox` and `setup.py` are broken.

*Output:*
<details><summary>tox</summary><p>

[code]

Collapsible until here.
<

[2018-02-27 17:39] cgmcintyr opened #101 "[bug] Python 2.7 tests import error on unittest.mock"
### Bug

Python 2.7 tests are failing due to import error when trying to import unittest.mock

<details> <summary>make test output</summary><p>

[code]

</p></details>

### Cause

All python unit tests import functions from `unittest.mock`, however `unittest.mock` is only included in the standard library from python version 3.3 onwards (see https://pypi.python.org/pypi/mock).

### Fix

Use https:/

[2018-03-01 13:19] cgmcintyr opened #102 "[tests] Python docker_builder.py has no tests for build/push errors"
Currently `python/metaparticle_pkg/builder/docker_builder.py` does not have any tests for `build` or `publish` when `docker.APIClient.build` or `docker.APIClient.push` returns an error.

The lines which need to be tested are:

https://github.com/metaparticle-io/package/blob/5c1640db16079aea02f738d37612a6b68fc10bc0/python/metaparticle_pkg/builder/docker_builder.py#L36-L39

[2018-03-03 12:52] TsuyoshiUshio opened #104 "The Golang Tutorial doesn't work"
I try the Golang tutorial to learn the Metaparticle. However, it doesn't work.   I can fix several issues however, I can't solve an error.  I can run through the tutorial, I'd happy to send a pull request for the doc.

# 1. There is no sample under tutorial/go

It is on the [tutorial](https://metaparticle.io/tutorials/go/)  web page. so no problem.

# 2.  go get fails

[code]
fails.  It is the sam

[2018-03-03 15:04] TsuyoshiUshio opened #105 "The Javascript tutorial doesn't work on Mac"
It cause `/proc/1/cgroup not found`. The issue is fixed alread on this issue/pull request.

https://github.com/metaparticle-io/package/issues/9

However, the npm package seems not updated. Someone who is doing this tutorial might have a problem on Mac until now.

https://www.npmjs.com/package/@metaparticle/package

[2018-03-05 08:34] LeighCiechanowski commented on #3
Hi @brendanburns I would like to add some test for the dotnet code. xUnit okay?

[2018-03-05 16:19] brendandburns commented on #3
Yeah xUnit is great. Thanks!

--brendan

________________________________
From: Leigh Ciechanowski <notifications@github.com>
Sent: Monday, March 5, 2018 12:34:27 AM
To: metaparticle-io/package
Cc: Brendan Burns; Mention
Subject: Re: [metaparticle-io/package] Add testing... (#3)

Hi @brendanburns<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbrendanburns&data=04%7C0

[2018-03-06 14:23] georgeharley opened #107 "Java package build file is missing some dependencies"
Using release 0.4.0 on MacOS.

The Maven file **package/java/pom.xml** is missing a couple of Unit test dependencies. Without them running the `mvn install` command in **package/java** results in a build failure because **package/java/src/test/java/io/metaparticle/test/MetaparticleTest.java** can't compile.
The missing dependencies are for JUnit Jupiter, Mockito, and the PowerMock Mockito API.

[2018-03-06 14:39] georgeharley opened #108 "Java package tutorial instructions contains some inaccuracies and omits a key point"
The instructions for the Java package tutorial needs a bit of an update in order to help things go a bit smoother for the user.

- the value of the `@Package` annotation's `repository` field should not contain the `docker.io` prefix
- in the section on exposing the application on the web the instructions fail to mention that the `@Package` annotation needs to have the `publish` field added with a

[2018-03-06 18:05] georgeharley commented on #107
Created PR https://github.com/metaparticle-io/package/pull/109

[2018-03-06 18:06] georgeharley commented on #108
Created PR https://github.com/metaparticle-io/package/pull/110

[2018-03-06 19:08] DazWilkin commented on #92
Still no joy :-(

The container generates a stacktrace ([see](#stacktrace)).

After an absence [btw: metaparticle.io is down] -- I tried again but continue to be unsuccessful with the Python implementation. I'm bothered that it's me. However, I've been successful with JavaScript and Golang (and should perhaps stick to them).

[code]
Edited `requirements.txt`:
[code]
Edited `web.py`:
[code]
### <a

[2018-03-06 19:49] gabeduke commented on #92
I have the same error. What OS are you running? I'm on Linux, but another user ran the same code from Mac and it worked.

[2018-03-06 20:30] DazWilkin commented on #92
Yep, Linux (Debian).

[2018-03-06 20:49] #99 closed

[2018-03-06 20:50] DazWilkin commented on #92
Evidence suggests something with the Python-Docker bridge on Linux.

On the same machine:
-- I can run the Python sample same-same without the 'Containerize' decorator. No Docker.
-- I can run e.g. the Golang samples in Docker.

As is to be expected, I receive the same error regardless of where the Docker image is run: a remote Kubernetes Engine cluster (CoreOS) or my local Debian workstation.

[c

[2018-03-07 21:54] #102 closed

[2018-03-07 21:54] #101 closed

[2018-03-07 21:54] #100 closed

[2018-03-16 15:43] georgeharley commented on #6
Bit late on this but, FWIW, running `mvn spring-boot:run` after `mvn clean package` gets a containerized Spring Boot application running locally in the same way that `mvn exec:java -Dexec.mainClass=io.metaparticle.tutorial.Main` works for the existing Java packaging tutorial.

The cause of the problem described in the original post is the `mvn package` step carried out in the `Containerize()`. Tha

[2018-03-16 16:20] georgeharley opened #112 "Java sharding tutorial instructions require updating"
Couple of micro changes needed to the Java sharding tutorial:

* the `@Package` annotation is missing the `publish=true` field
* the `jarFile` value in the `@Package` annotation does not match the Jar created by the Maven POM

[2018-03-18 02:50] #3 closed

[2018-03-20 20:56] georgeharley commented on #6
@brendanburns For your consideration I've submitted a PR for this issue that consists of the changes to the library I made locally to containerize a Spring Boot application. Works for running with Maven (`mvn spring-boot:run` where the POM includes the Spring Boot plugin) and also for running using `java -jar target/demo-0.0.1-SNAPSHOT.jar` on the built Spring Boot executable Jar. Pretty much a st

[2018-03-22 04:01] ahmedalhulaibi commented on #104
I hit the same roadblock. I set Publish to false in the metaparticle.Package to at least run locally automatically.

running `docker push` manually also worked for me so still need a fix on the docker push

[code]

[2018-03-22 18:24] huitseeker opened #116 "APIClient runs in docker and crashes there"
When rebuilding any images in the python/examples directory, the docker builder's initialization includes a call to `APIClient(version='auto')`, which crashes when run in docker (for lack of a `/var/run/docker.sock` to find).

This was probably introduced around https://github.com/metaparticle-io/package/commit/686bc97b31b60fa3afeae1bb73d2506e4c651650

The error message observed then is:
[code]

S

[2018-03-22 22:15] huitseeker commented on #116
A solution is probably to move the initialization of `builder` and `runner` in containerize to lazy properties (since we don't know if we're gonna need them at initialization of the `Containerize` class)

[2018-03-23 15:52] apobbati opened #117 "Roadmap"
Is there a roadmap published for the MetaParticle project overall?
I would like to help contribute any way I can.

[2018-03-25 04:30] brendandburns commented on #117
There are lots of open ideas/issues. One of the most interesting is how to integrate rollouts/upgrades.

Basically, if you see something interesting, feel free to file an issue or markdown to discuss the design...

(and I'll try to get a more formal roadmap together too...)

[2018-03-25 04:30] brendandburns commented on #116
I'll try to repro this (or if you have a good handle on the issue, I'd love a PR)

THanks!

[2018-03-25 04:31] brendandburns commented on #112
Thanks if you have a PR, I'd love to see it (otherwise I'll update it myself)

[2018-03-25 04:32] brendandburns commented on #108
CLosing this since #110 merged.

[2018-03-25 04:32] #108 closed

[2018-03-25 04:32] brendandburns commented on #105
I'll try to push a new package soon.

[2018-03-25 05:13] brendandburns commented on #107
Closing this since 109 merged.

[2018-03-25 05:13] #107 closed

[2018-03-25 05:19] brendandburns commented on #105
I just pushed `0.3.0` to npm.

[2018-03-25 05:33] brendandburns commented on #116
I created https://github.com/metaparticle-io/package/pull/119

Which should address this....

[2018-03-25 12:44] apobbati commented on #117
Thanks! I'll look around.

[2018-03-25 12:44] #117 closed

[2018-03-25 15:51] georgeharley commented on #112
Hi @brendandburns, no need to do it yourself as PR #113 has already been merged.

[2018-03-27 04:47] TsuyoshiUshio commented on #105
Thank you, @brendandburns ! I'll try that!

[2018-04-02 04:22] brendandburns commented on #112
Closing, since the PR w/ the fix is merged.

[2018-04-02 04:22] #112 closed

[2018-04-03 02:12] ahmedalhulaibi commented on #104
Ran with dockerhub.io/repo-user and got a different error

[code]

[code]

[2018-04-06 17:44] #116 closed

[2018-04-06 17:45] brendandburns commented on #105
Closing since this is fixed (please re-open if you continue to see issues)

[2018-04-06 17:45] #105 closed

[2018-04-20 00:12] wagoodman opened #124 "Python run does not automatically rm container"
When using the `docker` executor the docker container is not removed after the container exits. This results in successive runs requiring a manual `docker rm <container id>`.

To reproduce:
[code]
It would be expected that you can run your application back-to-back without manual intervention with the docker cli.

[2018-04-21 12:13] wagoodman commented on #2
This issue is a bit stale, as long as we're all on the same page about including a `additionalFiles` mechanism I'll give this a shot with python and we can discuss further on the PR?

[2018-04-22 00:33] wagoodman commented on #54
Should this issue be closed? Or is there a bit more work to tidy up on this issue?

[2018-04-22 02:33] wagoodman commented on #1
IMO, this issue is the second highest priority issue (probably just behind the CI ticket).

I think the most generic way to deal with this is to allow a more broad pod definition. Specifically, allowing a way to specify multi-container pods... both via an image reference or a second build. After much thought, I don't have any great ideas as to how to do it (a few bad ones though!).

One thing that

[2018-04-22 02:38] wagoodman commented on #49
For CI/CD I'll need individual independent operations for at least:
- building a docker image
- deploying a docker container and detaching

I vote we try a simpler approach first, then go from there. Anyone have any functional reasons why we shouldn't do this with just environment variables? Say:
-  if `METAPARTICLE_CI_BUILD == true` then ONLY build
-  if `METAPARTICLE_CI_PUSH == true` then ONLY p

[2018-04-22 12:11] wagoodman commented on #45
I'll take a stab at this. I'm going to make some assumptions:
- This only applies to the Docker executor for now
- The requirements.txt must be in the image

[2018-06-18 20:25] willnewby opened #128 "PHP Support?"
Are there any plans for PHP support for Metaparticle? Particularly for supporting WordPress? I'm interested both in developing support and using it.

[2018-06-21 05:07] anuruddhal opened #129 "Cannot run program "mp-compiler": error=2, No such file or directory"
I tried the [java tutorial](https://metaparticle.io/tutorials/java/) and getting following error when trying to deploy the artifacts to kubernetes:

**OS** : Mac OS
**Docker**: Docker for mac 18.05.0-ce
**Kubernetes**:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z

[2018-06-21 05:42] anuruddhal commented on #129
My bad I didn't install [mp-compiler](https://github.com/metaparticle-io/metaparticle-ast/releases).

[2018-06-21 05:42] #129 closed

[2018-06-29 21:28] srini85 commented on #75
@brendandburns should this ticket still be open? We made a merge for adding tests. Something else we still want to discuss?

[2018-07-18 22:35] faiz0019 commented on #6
I still get the same issue and also have the latest version of Spring Boot. Can somebody help

[2018-07-19 09:15] georgeharley commented on #6
@faiz0019 I've just tried running a Boot application using the information in [package samples](https://github.com/metaparticle-io/package/blob/master/tutorials/java/tutorial.md#spring-boot-apps) and it all works OK. I'm using the latest level of package source and Spring Boot 2.0.3. What kind of failure do you see?

[2018-07-19 15:39] faiz0019 commented on #6
@georgeharley
Im getting the same issue as reported in this thread. I tried to use different methods and none of them worked.
The main problem I could see is that we are using the artifact that is from our own company and cannot use some of the dependencies mentioned in the package samples. I see that is the issue.

[2018-08-13 18:41] rhuss opened #130 "Java: Consider using APT to separate build- and runtime"
For the Java variant at least Metaparticle mixes heavily build and runtime aspect which makes is more or useless in more serious setups where you don't want to build you application when you want to just run it. This results in issuea when distributing the application via standard Maven semantics (`mvn deploy`) as you don't have the source available then when running it (nor any `pom.xml` for call

[2018-08-20 14:53] bwoodhouse322 commented on #90
https://github.com/metaparticle-io/package/pull/131 Should be as efficient as we can make it, squashed all layers and pulling 2mb base image. Google have their "distroless" base images designed for maximum efficiency, but I'm not sure on the legitimacy of the images.

[2018-08-20 20:05] bwoodhouse322 commented on #90
![gotest](https://user-images.githubusercontent.com/30893241/44363678-c0305500-a4bc-11e8-9d83-4b1b2fe6f545.png)
Got it to 6MB with help from @radu-matei

[2019-02-17 20:08] itwars opened #136 "Issue while using golang"
Hi,
I got this issue while building example code :

On Azure repo we have :
[code]

[2019-08-26 20:20] srini85 opened #140 "Any plans to move this project forward?"
Any plans to move this project forward?. I think there is a lot of potential with this project and needs the resources plus tlc. Would love to know if there are plans to continue to grow it as seems it's getting a bit stale. @brendandburns

[2020-08-25 02:56] timcash commented on #140
I think there was a new project I can not remember the name though.

[2020-08-25 02:57] timcash commented on #140
https://github.com/dapr/dapr
https://dapr.io/

[2020-08-25 03:39] srini85 commented on #140
@timcash - Thanks for sharing.. I have been following this project for a little while. I guess that has sort of been built of some of the ground work of this project and provides a full working framework. Would be keen to understand @brendanburns view whether he sees this project playing a path of its own in someway.